@charset "UTF-8";

/* body{ background:url(../images/wasi1.jpeg);} */

/*---------------------------------firefox fade対策----------*/

img { box-shadow: #000 0 0 0; }

img, x:-moz-any-link, x:default { box-shadow: #000 0 0 0; }

/*----------------------------------------------------------------------------------concept----------*/

/*コンセプト全体*/
#concept{
padding:100px 0;
width:960px;
margin:0 auto;
background: #ffffff9d;

}
/*コンセプトtop見出し*/
#h2_cpt{ 
text-align:center;
line-height:1.0;
}
/*topメッセージ*/
#h3_cpt{ 
text-align:center;
line-height:1.0;
margin:50px 0px;
}
/*全体*/
/* #about,#shop,#yoyaku,#komento{ margin:60px 0; } */
#shop,#kome{ 
    text-align: center;
}
#about,#yoyaku{ 
background: #ffffff9d;
}

#shop{
    background: #f5f5f59d;
}
#kome{
    height: 550px; 
    background: url(../images/illust4531.png);
    background-size:450px 550px; 
}

#about .slide,#yoyaku .slide{ 
float:left;
width:360px;
padding:44px 20px;
}

#shop .slide,#komento .slide{ 
    float: right;
    width:360px;
    padding:44px 20px;
}
    
#about .slide ul ,#yoyaku .slide ul ,#shop .slide ul,#komento .slide ul{ 
height:450px;
overflow:hidden;
z-index:0;
}

#list{
    padding-top:20px; 
}

#about .text,#yoyaku .text{
float:right;
width:470px;
padding:50px 10px;
line-height:2.6;
}

#shop .text,#komento .text{
    float: left;
    width:450px;
    margin:30px;
    text-align: center;
    line-height:2.6;
}

#about .text p,#yoyaku .text p,#shop .text p,#komento .text p{ margin-top:100px;}

.midasi{
    text-align: center;
    margin-top: 10px;
}

#produce h2{ 
margin-top:80px;
text-align:center;
line-height:1.0;
}

#company{ 
margin-top:60px;
background:url(../images/vs.png) no-repeat center top; 
}

.mb{
width:400px;
float:left;
padding:20px 40px 30px;
}

.tab{
width:400px;
float:right;
padding:20px 40px 30px;
}

.mb h3, .tab h3{ 
text-align:center;
padding-bottom:24px;
}

#company p a:hover{ color:#999; }
