@charset "UTF-8";

/* body{ background:url(../images/wasi1.jpeg);} */

/*---------------------------------firefox fade対策----------*/

img { box-shadow: #000 0 0 0; }

img, x:-moz-any-link, x:default { box-shadow: #000 0 0 0; }

/*-----------------------concept----------*/

/*コンセプト全体*/
#concept{
padding: 0;
width: 960px;
height: 800px;
margin:20px auto;
background: #ffffff9d;
}

/*コンセプトtop見出し*/
#h2_cpt{ 
    font-size:30px;
text-align:center;
line-height:1.0;
padding-top:50px;
}
/*topメッセージ*/
#h3_cpt{ 
text-align:center;
line-height:1.0;
margin:50px;
}
/*全体*/

.zensaito{
    float: left;
    font-size:25px;
    width: 300px;
    height: 600px;
    border: 2px dotted #fff;
    color:#3d1e00;
    line-height: 1.5em;

}

.zensaito p{
    width: 300px;
    height: 100px;
    margin-bottom: 10px;

}
.zensaito a{
    display:block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color:#3d1e00;
    border: 2px dotted #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.zensaito a:hover{
    width: 300px;
    height: 100px;
    color: #050300b0;

    background:#582d02c5;
    border: 2px dotted #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
/*pageリンク*/
#page1{
    background:url('../images/slider1.jpg'); 
    background-size:300px 100px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#page2{
    background:url('../images/1.jpg'); 
    background-size:300px 100px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#page3{
    background:url('../images/milbon2.jpg'); 
    background-size:300px 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
#page4{
    background: #8f6e44b0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#page5{
    background: #8f6e44b0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*newitems*/
#items{
    margin: 0px auto;
    width: 400px;
    height: 200px;
}
#items li{
    margin: 0px auto;
    width: 400px;

}

.left{
    float: right;
    width: 650px;
    height: 600px;
    margin: 0 auto;
}

.scrollbar{
    margin: 0 auto;
    overflow: auto;
    width: 500px;
    height: 200px;
    padding: 5px;
    border: 2px dotted #fff;
    color:#3d1e00;
    background: #8f6e44b0;
    line-height: 1.5em;
}
.news{
    width: 300px;
    margin: 0 auto;
}
.news a{
    color:#3d1e00;

}

.new{
    width: 500px;
    height: 300px;
    margin: 10px auto;
    background: #000;

}

